.text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1.8rem;
  position: relative;
}

input[type="text"],
textarea {
  background: #3e3e3e;
  width: 80vw;
  border: none;
  outline: none;
  resize: none;
  color: #fefefe;
  padding: 1.8rem;
  margin-bottom: 1.8rem;
  transition: 0.2s;
}

input[type="text"] {
  font-size: 1.8rem;
  padding: 1.2rem;
  border-radius: 1.2rem 1.2rem 0 0;
  /* box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2) inset; */
}

textarea {
  padding: 1.2rem;
  font-size: 1.8rem;
  height: 20vh;
}

input:focus,
textarea:focus {
  border-bottom: 4px solid;
  border-image: linear-gradient(#ff4b2b, #ff416c);
  border-image-slice: 1;
  text-decoration: none;
}

.btn {
  padding: 1.2rem 2.8rem;
  font-size: 1.5em;
  border: none;
  outline: none;
  background: #ff416c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ff4b2b,
    #ff416c
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ff4b2b,
    #ff416c
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #f3f3f3;
  border-radius: 0.6rem;
}

.card-container {
  margin: 1.8rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}

@media screen and (max-width: 600px) {
  .card-container {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 601px) and (max-width: 900px) {
  .card-container {
    grid-template-columns: 1fr 1fr;
  }
}
