.card {
  padding: 1.8rem;
  border: 3px dotted#f2f2f2;
  border-radius: 0.6rem;
}

.card__title,
.card__desc {
  margin-bottom: 0.8rem;
  color: #f2f2f2;
}

.card__title {
  font-size: 2.2em;
}

.card__desc {
  font-size: 1.8em;
}

.card__footer {
  margin-top: 1.8rem;
}
.card-icon {
  font-size: 1.8rem;
  background: none;
  border: none;
  outline: none;
}

.warning {
  color: rgb(255, 255, 155);
}

.danger {
  color: #ff6969;
}
