@font-face {
  font-family: "sofia_pro";
  src: url("./fonts/sofia-pro-light/sofiapro-light-webfont.woff2")
      format("woff2"),
    url("./fonts/sofia-pro-light/sofiapro-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*,
*::after,
*::before {
  margin: 0;
  font-family: "sofia_pro";
}

html {
  font-size: 62.5%;
}

body {
  background: #2e2e2e;
}
